<!DOCTYPE html>
<html>
  <head>
   
    <title>
      <% if(foundItem.name){ %>
          <%= foundItem.name %> - Quilted Twins
      <% }else{ %>
          Quilted Twins
      <% } %>
    </title>
        <link rel="stylesheet" type="text/css" href="/views/partials/assets/app.css">
  </head>
  <body>
  